# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.vcxproj
*.filters
*.user
.vs/
.x64/
/x64
/polar-adventures.sln
/Debug/polar-adventures.tlog
/Debug/vcpkg.applocal.log
/Debug/vc143.pdb
/Debug/vc143.idb
/Debug/polar-adventures.vcxproj.FileListAbsolute.txt
/Debug/polar-adventures.pdb
/Debug/polar-adventures.log
/Debug/polar-adventures.ilk
/Debug/polar-adventures.exe.recipe
/x64/Debug
/include/Debug
/enc_temp_folder
/Debug
/ext
/include/assimp
/include/boost/accumulators/framework/accumulators/droppable_accumulator.hpp
/include/boost/accumulators
/include/boost
/include/brotli
/include/bullet
/include/freetype
/include/gl
/include/GLFW
/include/glm
/include/irrlicht
/include/kubazip/zip
/include/libpng16
/include/lzma
/include/minizip
/include/openssl
/include/poly2tri
/include/polyclipping
/include/python3.10
/include/rapidjson
/include/utf8cpp
/include/bzlib.h
/include/zstd_errors.h
/include/zstd.h
/include/zlib.h
/include/zdict.h
/include/zconf.h
/include/turbojpeg.h
/include/stretchy_buffer.h
/include/stb_voxel_render.h
/include/stb_truetype.h
/include/stb_tilemap_editor.h
/include/stb_textedit.h
/include/stb_sprintf.h
/include/stb_rect_pack.h
/include/stb_perlin.h
/include/stb_leakcheck.h
/include/stb_include.h
/include/stb_image_write.h
/include/stb_image_resize.h
/include/stb_image.h
/include/stb_herringbone_wang_tile.h
/include/stb_easy_font.h
/include/stb_dxt.h
/include/stb_ds.h
/include/stb_divide.h
/include/stb_c_lexer.h
/include/stb_connected_components.h
/include/stb.h
/include/sqlite3ext.h
/include/sqlite3.h
/include/pnglibconf.h
/include/pngconf.h
/include/png.h
/include/lzma.h
/include/jpeglib.h
/include/jmorecfg.h
/include/jerror.h
/include/jconfig.h
/include/INIReader.h
/include/ini.h
/include/ft2build.h
/include/ffitarget.h
/include/ffi.h
/include/expat_external.h
/include/expat_config.h
/include/expat.h
/Release
