# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.vcxproj
*.filters
*.user
.vs/
.x64/
/polar-adventures.sln
/Debug/polar-adventures.tlog
/Debug/vcpkg.applocal.log
/Debug/vc143.pdb
/Debug/vc143.idb
/Debug/polar-adventures.vcxproj.FileListAbsolute.txt
/Debug/polar-adventures.pdb
/Debug/polar-adventures.log
/Debug/polar-adventures.ilk
/Debug/polar-adventures.exe.recipe
/x64/Debug
